body{
  background-color: rgb(0, 0, 0);
}

p{
  font-family:"Poppins";
  text-align:left;
  padding: 10px;
  margin:0px;
  font-size: 15px;
}

.project {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 250px;
  height: fit-content;
  margin:auto;
  text-align:center;
  background-color: white;
  margin-top: 40px;
  display: inline-block;
  margin-left: 40px;
  border-radius: 25px;
  padding-bottom: 15px;
}

.title {
  color:rgb(0, 0, 0);
  font-size: 14px;
}

a {
  color: rgb(0, 0, 0);
  font-size: 25px;
}

@import url(https://fonts.googleapis.com/css?family=Montserrat);
body{
  background:black;
  font-family: Arial;
}

@media screen{
  
}